<a href="https://colab.research.google.com/github/joaqxy/Linear-Algebra/blob/main/Assignment2_Jaymalin.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#welcome to Python Fundamentals
In this module, we are going to establish our skills in Python programming. In this notebook we are going to cover:


*   Variables and Data types 
*   operations 
*   Input and Output operations
*   Logic Control
*   Iterables
*   Functions

## Variables and Data Types

In this section, we can see how to delcare variables and what are the different types of variables. Variables that are declared can be used throughout the programm.

In [ ]:
x = 1
a, b = 3, -2

In [ ]:
type(x)

int

In [ ]:
y = 3.0
type(y)

float

In [ ]:
x = float(x)
type(x)

float

In [ ]:
s, t, u = "1", '3',"three"
type(u)

str

## Operations

### Arithmetic

Below this are different codes used to perform mathematical operations, such as addition, subtraction, division, multiplication, and the like.

In [ ]:
w, x, y, z = 4.0, -3.0, 1, -32

In [ ]:
### Addition
s = w + x
s

1.0

In [ ]:
### subtraction
D = y - z
D

33

In [ ]:
### Multiplication
P = w * z
P

-128.0

In [ ]:
### Division 
Q = y/x
Q

-0.3333333333333333

In [ ]:
### Floor Division
Qf = w//x
Qf

In [ ]:
### Exponentiation 
E = w**w
E

In [ ]:
### Modulo 
mod = z%x
mod

### Assignment

This function is used to assign values to variables.

In [ ]:
A, B, C, D, E = 0, 100, 2, 1, 2

In [ ]:
A += w
A

In [ ]:
B -= x
B

In [ ]:
C *= w
C

In [ ]:
E **= y
E

256.0

In [ ]:
D /= x
D

### Comparators

From the word itself, its purpose is to compare values from different variables.

In [ ]:
size_1, size_2, size_3 = 1, 2.0, "1" 
true_size = 1.0

In [ ]:
## Equality 
size_1 == true_size

In [ ]:
## non-equality
size_2 != true_size

True

In [ ]:
## Inequality 
s1 = size_1>size_2
s2 = size_1<size_2/2
s3 = true_size>=size_1
s4 = size_2 <= true_size

False

### Logical

This operator is used on conditional statements, the statement can be either true or false. It can perform AND, OR, and NOT operators.

In [ ]:
size_1 == true_size

In [ ]:
size_1 is true_size

In [ ]:
size_1 is not true_size

In [ ]:
P, Q = True, False 
conj = P and Q

False

In [ ]:
disj = P or Q
disj

True

In [ ]:
nand = not(P and Q)
nand

True

In [ ]:
xor = (not P and Q) or (P and not Q)
xor

True

## Input and Output

In this section we learned how to code input and output operations. The output function is used to display data on the screen, or any output device. While input function is where we asked input from the user and assign the input onto a variable.

In [ ]:
print("Hello world!")

In [ ]:
cnt = 14000

In [ ]:
string = "Hello world"
print(string, ", current COVID count is:", cnt )
cnt += 10000

In [ ]:
print(f"{string}, current count is:{cnt}")

In [ ]:
sem_grade = 86.25
name = "joaquin"
print("Hello {}, your semestral grade is: {}". format(name, sem_grade))

Hello joaquin, your semestral grade is: 86.25

In [ ]:
pg, mg, fg = 0.3, 0.3, 0.4
print("The weights of you semestral grades are: \
\n\t {:.2%} for prelims\
\n\t {:.2%} for midterms, and\
\n\t {:.2%} for Finals". format(pg, mg, fg))

In [ ]:
e = input("Enter a number:")
e

In [ ]:
name = input("Enter your name: ")
pg = input("Enter prelim grade: ")
mg = input("Enter midterm grade: ")
fg = input("Enter final grade: ")
sem_grade = None
print("Hello {}, your semestral grade is:{}". format(name, sem_grade))

## Looping Statements

## While

while statement is used to run a code while the statement remains true.

In [ ]:
## While loops 
i, j = 0, 10 
while(i<=j):
  print(f"{i}\t|\t{j}")
  i += 1

## For

A For statement is used to repeat a certain code for a list of variables.

In [ ]:
# for
i = 0
for i in range(10):
  print(i)

In [ ]:
playlist = ["bahay kubo", "Magandang kanta", "buko"]
print('Now playing:\n')
for song in playlist:
  print(song)

## Flow Control

### Condition statements

This command is used on conditional statements. Its main function is to look at the statements and decide if the statements meet the certain criteria for it to be true or false. The command also decides on what codes will be working.

In [ ]:
num_1, num_2 = 22, 12 
if(num_1 == num_2):
  print("HAHA")
elif(num_1>num_2):
  print("HOHO")
else:
  print("HUHU")

HOHO

## Functions

A function is a block of code designed to perform its task. It can also make a programm more simple.

In [9]:
def delete_user(userid):
  print("Successfully deleted user: {}". format(userid))

In [10]:
userid = 2020-100100
delete_user(2020_100100)

Successfully deleted user: 2020100100

In [5]:
def add(addend1, addend2):
  sum = addend1 + addend2
  return sum

In [6]:
add(5, 4)

9